:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;   /* hides page overflow */
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;   /* prevents panels from overflowing */
}

/* LEFT PANEL */

.left-panel {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

/* MAIN CENTER PANEL */

.main-panel {
  flex: 1;                 /* this makes it the largest */
  padding: 30px;
  background: #ffffff;
  overflow-y: auto;
}

/* RIGHT PANEL */

.right-panel {
  width: 220px;
  background: #fafafa;
  padding: 20px;
  border-left: 1px solid #ddd;
}
.result-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background: white;
}

.fields-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
}

.field-row {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.field-row input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.image-groups {
  margin-top: 20px;
  overflow-y: auto;
}

.plate-group {
  margin-bottom: 16px;
}

.plate-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.image-list {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.plate-image {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
}